In [1]:
import pandas as pd

In [2]:
customers_upd=pd.read_csv(r"C:\Users\Rohini\Downloads\us_customer_data.csv")

In [3]:
transaction_table=pd.read_csv(r"C:\Users\Rohini\Downloads\transaction_data.csv")

In [4]:
merged_table=pd.merge(customers_upd,transaction_table,on="customer_id",how="inner")

In [5]:
merged_table

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
2,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
3,7,Louis Miller,patriciaelliott@example.org,001-418-931-4146x588,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470,3241.66,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
4,7,Louis Miller,patriciaelliott@example.org,001-418-931-4146x588,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,857,697.57,2025-06-13 12:03:42,Beauty,Debit Card,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Deanna Johnson,ycook@example.org,+1-639-853-2802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,532,759.38,2025-03-14 16:56:22,Home,PayPal,New York
996,995,Deanna Johnson,ycook@example.org,+1-639-853-2802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,617,821.18,2025-01-23 07:39:19,Electronics,Debit Card,Miami
997,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
998,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
999,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online

In [6]:
merged_table.isnull().sum()

customer_id           0
name                  0
email                30
phone                54
address               0
registration_date     0
loyalty_status        0
transaction_id        0
amount               50
transaction_date      0
product_category      0
payment_method        0
store_location        0
dtype: int64

In [7]:
merged_table['amount']=merged_table['amount'].fillna(merged_table['amount'].mean())

In [ ]:
merged_table.isnull().sum()

customer_id           0
name                  0
email                30
phone                54
address               0
registration_date     0
loyalty_status        0
transaction_id        0
amount                0
transaction_date      0
product_category      0
payment_method        0
store_location        0
dtype: int64

In [10]:
merged_table['email']=merged_table['email'].fillna(merged_table['name'].str.replace(' ','').str.lower()+'@unknown.com')

In [11]:
merged_table.isnull().sum()

customer_id           0
name                  0
email                 0
phone                54
address               0
registration_date     0
loyalty_status        0
transaction_id        0
amount                0
transaction_date      0
product_category      0
payment_method        0
store_location        0
dtype: int64

In [12]:
merged_table['phone']=merged_table['phone'].fillna('xxx-xxx-xxxx')
merged_table['phone']=merged_table['phone'].str.replace('-','')
merged_table.loc[merged_table['phone'].str.len()<10,'phone']='xxxxxxxxx'

In [13]:
merged_table['phone']=merged_table['phone'].str.replace(r'\D','',regex=True)
merged_table['phone']=merged_table['phone'].str.slice(0,11)

In [14]:
merged_table.isnull().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
transaction_id       0
amount               0
transaction_date     0
product_category     0
payment_method       0
store_location       0
dtype: int64

In [15]:
merged_table

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8,2652.570000,2025-04-19 14:46:00,Home,Credit Card,New York
1,4,Kimberly Price,jessicaknight@example.com,00194763342,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427,1787.090000,2025-04-28 04:34:07,Beauty,PayPal,Chicago
2,5,Matthew Phillips,qwilliams@example.com,00186965056,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452,1983.520000,2025-02-03 14:59:13,Sports,PayPal,Online
3,7,Louis Miller,patriciaelliott@example.org,00141893141,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470,3241.660000,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
4,7,Louis Miller,patriciaelliott@example.org,00141893141,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,857,697.570000,2025-06-13 12:03:42,Beauty,Debit Card,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Deanna Johnson,ycook@example.org,16398532802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,532,759.380000,2025-03-14 16:56:22,Home,PayPal,New York
996,995,Deanna Johnson,ycook@example.org,16398532802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,617,821.180000,2025-01-23 07:39:19,Electronics,Debit Card,Miami
997,997,Jodi Simpson,eric24@example.org,14086815204,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45,480.640000,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
998,998,Crystal Brown,pshaffer@example.net,9625217928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304,73.710000,2025-01-27 05:33:22,Home,Debit Card,Chicago
999,998,Crystal Brown,pshaffer@example.net,9625217928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886,2532.550126,2025-03-16 15:42:17,Beauty,Debit Card,Online

In [16]:
high_value_transactions=merged_table[merged_table['amount']>1000]

In [17]:
high_value_transactions

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8,2652.570000,2025-04-19 14:46:00,Home,Credit Card,New York
1,4,Kimberly Price,jessicaknight@example.com,00194763342,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427,1787.090000,2025-04-28 04:34:07,Beauty,PayPal,Chicago
2,5,Matthew Phillips,qwilliams@example.com,00186965056,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452,1983.520000,2025-02-03 14:59:13,Sports,PayPal,Online
3,7,Louis Miller,patriciaelliott@example.org,00141893141,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470,3241.660000,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
6,10,Rachel White,whitemichael@example.org,00192079345,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,173,3456.050000,2025-04-15 19:26:48,Home,Debit Card,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,991,Erica Fleming,erica85@example.net,,"55648 Gilbert Square, Port Jessica, OR 63566",2025-01-21,Silver,808,2781.520000,2025-05-14 07:30:24,Clothing,Credit Card,Los Angeles
992,992,Thomas Stevens,vargasmatthew@example.org,7698643179,"8783 Joseph Stravenue Suite 016, Port Gabriell...",2024-06-25,Silver,352,3691.140000,2025-02-12 08:40:27,Sports,Debit Card,New York
993,995,Deanna Johnson,ycook@example.org,16398532802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,62,4299.690000,2025-01-04 19:54:59,Electronics,Debit Card,New York
994,995,Deanna Johnson,ycook@example.org,16398532802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,129,4653.240000,2025-04-25 23:19:54,Beauty,Cash,Chicago
999,998,Crystal Brown,pshaffer@example.net,9625217928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886,2532.550126,2025-03-16 15:42:17,Beauty,Debit Card,Online

In [18]:
high_value_transactions.to_csv("q3.csv",index=False)